#dataList, #informationEmpty, #dashboardPanel, #widgetPanel {
    display: none;
}

#dashboardPanel, #widgetPanel {
    margin-top: 10px;
}

.widget2, .widget3, .widget4 {
    display: none;
}

#error {
    display: none;
}

#flot-placeholder1 {
    width: 550px;
    height: 300px;
    display: none;
}

#flot-placeholder2 #flot-placeholder3 #flot-placeholder4 {
    height: 40%;
    display: none;
}